.project_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 3% 0% 3%;
    min-height: 100vh;
}

.project_content {
    justify-content: left;
    /* Space between content and image */
    align-items: center;
    text-align: left;
    /* Align text to the left */
    width: 70%;
    background: var(--background);
    border-radius: 1rem;
    padding: 8rem;
    margin-top: 1rem;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
    color: var(--text-color)
}

.project_title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-color);
    text-align: center;
}

.projectList {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}